html, body {
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
}
.fs{
    font-size: 13px;
    @media screen and (max-width: 300px) {
    display: none;  
    }
}

.bg-img1 {
    background-image: url(./img/bg_img1.jpeg);  
    background-attachment: fixed;
}
.container-wid {
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.h-first{
    font-size: 80px;
    text-decoration: underline overline dotted white;    
    @media screen and (max-width: 600px) {
        font-size: 50px;
        padding: 0;  
    }
    @media screen and (max-width: 400px) {
        font-size: 35px;  
        padding: 0;
    }
}

.icon{
    width: 60px;
    height: 60px;
    background-color: white;
}
.transform:hover{
    transform: scale(1.08);
    bottom: 20px;
}
.form-floating {

    .success {
        border: 1px solid #26af51;
    }
}

.form-floating {
    .error {
        border: 1px solid #dc3545;
    }
}